<div class="page-header">
  <h1><%=t '.title', :default => Report %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Precinct Number</th>
      <th>Ballot Number</th>
      <th>Vote Receipt Number</th>
      <th>Voted President</th>
      <th>Pcos Result President</th>
      <th>Voted Vice President</th>
      <th>Pcos Result Vice President</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.precinct_number %></td>
        <td><%= report.ballot_number %></td>
        <td><%= report.vote_receipt_number %></td>
        <td><%= report.mypresident %></td>
        <td><%= report.pcos_result_president %></td>
        <td><%= report.voted_vice_president %></td>
        <td><%= report.pcos_result_vice_president %></td>
      </tr>
    <% end %>
  </tbody>
</table>