<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :precinct_number %><br>
    <%= f.text_field :precinct_number %>
  </div>
  <div class="field">
    <%= f.label :ballot_number %><br>
    <%= f.text_field :ballot_number %>
  </div>
  <div class="field">
    <%= f.label :vote_receipt_number %><br>
    <%= f.text_field :vote_receipt_number %>
  </div>
  <div class="field">
    <%= f.label :bei_name %><br>
    <%= f.text_field :bei_name %>
  </div>
  <div class="field">
    <%= f.label :voted_president %><br>
    <%= f.number_field :voted_president %>
  </div>
  <div class="field">
    <%= f.label :pcos_result_president %><br>
    <%= f.number_field :pcos_result_president %>
  </div>
  <div class="field">
    <%= f.label :voted_vice_president %><br>
    <%= f.number_field :voted_vice_president %>
  </div>
  <div class="field">
    <%= f.label :pcos_result_vice_president %><br>
    <%= f.number_field :pcos_result_vice_president %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
